{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://rds.amazonaws.com/"
        },
        {
            "url": "http://rds.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Amazon DocumentDB API documentation",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon DocumentDB with MongoDB compatibility",
        "version": "2014-10-31",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/docdb-2014-10-31.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "docdb"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/rds/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds metadata tags to an Amazon DocumentDB resource. You can use these tags with cost allocation reporting to track costs that are associated with Amazon DocumentDB resources. or in a <code>Condition</code> statement in an AWS Identity and Access Management (IAM) policy for Amazon DocumentDB.",
                "operationId": "AddTagsToResource",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "DBInstanceNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DBSnapshotNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "DBClusterNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input to <a>AddTagsToResource</a>.",
                                "properties": {
                                    "ResourceName": {
                                        "description": "The Amazon DocumentDB resource that the tags are added to. This value is an Amazon Resource Name (ARN).",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "The tags to be assigned to the Amazon DocumentDB resource. ",
                                        "items": {
                                            "description": "Metadata assigned to an Amazon DocumentDB resource consisting of a key-value pair.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The required name of the tag. The string value can be from 1 to 128 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ResourceName",
                                    "Tags"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ApplyPendingMaintenanceAction": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Applies a pending maintenance action to a resource (for example, to a DB instance).",
                "operationId": "ApplyPendingMaintenanceAction",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "ResourcePendingMaintenanceActions": {
                                            "description": "Represents the output of <a>ApplyPendingMaintenanceAction</a>.",
                                            "properties": {
                                                "PendingMaintenanceActionDetails": {
                                                    "description": "A list that provides details about the pending maintenance actions for the resource.",
                                                    "items": {
                                                        "description": "Provides information about a pending maintenance action for a resource.",
                                                        "properties": {
                                                            "Action": {
                                                                "description": "The type of pending maintenance action that is available for the resource.",
                                                                "type": "string"
                                                            },
                                                            "AutoAppliedAfterDate": {
                                                                "description": "The date of the maintenance window when the action is applied. The maintenance action is applied to the resource during its first maintenance window after this date. If this date is specified, any <code>next-maintenance</code> opt-in requests are ignored.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "CurrentApplyDate": {
                                                                "description": "The effective date when the pending maintenance action is applied to the resource.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "Description": {
                                                                "description": "A description providing more detail about the maintenance action.",
                                                                "type": "string"
                                                            },
                                                            "ForcedApplyDate": {
                                                                "description": "The date when the maintenance action is automatically applied. The maintenance action is applied to the resource on this date regardless of the maintenance window for the resource. If this date is specified, any <code>immediate</code> opt-in requests are ignored.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "OptInStatus": {
                                                                "description": "Indicates the type of opt-in request that has been received for the resource.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "ResourceIdentifier": {
                                                    "description": "The Amazon Resource Name (ARN) of the resource that has pending maintenance actions.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input to <a>ApplyPendingMaintenanceAction</a>.",
                                "properties": {
                                    "ApplyAction": {
                                        "description": "<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>",
                                        "type": "string"
                                    },
                                    "OptInType": {
                                        "description": "<p>A value that specifies the type of opt-in request or undoes an opt-in request. An opt-in request of type <code>immediate</code> can't be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "ResourceIdentifier": {
                                        "description": "The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ResourceIdentifier",
                                    "ApplyAction",
                                    "OptInType"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CopyDBClusterParameterGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Copies the specified DB cluster parameter group.",
                "operationId": "CopyDBClusterParameterGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DBClusterParameterGroup": {
                                            "description": "Detailed information about a DB cluster parameter group. ",
                                            "properties": {
                                                "DBClusterParameterGroupArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the DB cluster parameter group.",
                                                    "type": "string"
                                                },
                                                "DBClusterParameterGroupName": {
                                                    "description": "Provides the name of the DB cluster parameter group.",
                                                    "type": "string"
                                                },
                                                "DBParameterGroupFamily": {
                                                    "description": "Provides the name of the DB parameter group family that this DB cluster parameter group is compatible with.",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "Provides the customer-specified description for this DB cluster parameter group.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DBParameterGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DBParameterGroupQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "DBParameterGroupAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input to <a>CopyDBClusterParameterGroup</a>.",
                                "properties": {
                                    "SourceDBClusterParameterGroupIdentifier": {
                                        "description": "<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same AWS Region as the copy, specify a valid DB parameter group identifier; for example, <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different AWS Region than the copy, specify a valid DB cluster parameter group ARN; for example, <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "The tags that are to be assigned to the parameter group.",
                                        "items": {
                                            "description": "Metadata assigned to an Amazon DocumentDB resource consisting of a key-value pair.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The required name of the tag. The string value can be from 1 to 128 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "TargetDBClusterParameterGroupDescription": {
                                        "description": "A description for the copied DB cluster parameter group.",
                                        "type": "string"
                                    },
                                    "TargetDBClusterParameterGroupIdentifier": {
                                        "description": "<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SourceDBClusterParameterGroupIdentifier",
                                    "TargetDBClusterParameterGroupIdentifier",
                                    "TargetDBClusterParameterGroupDescription"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CopyDBClusterSnapshot": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>To cancel the copy operation after it is in progress, delete the target DB cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in the <i>copying</i> status.</p>",
                "operationId": "CopyDBClusterSnapshot",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DBClusterSnapshot": {
                                            "description": "Detailed information about a DB cluster snapshot. ",
                                            "properties": {
                                                "AvailabilityZones": {
                                                    "description": "Provides the list of Amazon EC2 Availability Zones that instances in the DB cluster snapshot can be restored in.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ClusterCreateTime": {
                                                    "description": "Specifies the time when the DB cluster was created, in Universal Coordinated Time (UTC).",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "DBClusterIdentifier": {
                                                    "description": "Specifies the DB cluster identifier of the DB cluster that this DB cluster snapshot was created from.",
                                                    "type": "string"
                                                },
                                                "DBClusterSnapshotArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "DBClusterSnapshotIdentifier": {
                                                    "description": "Specifies the identifier for the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "Engine": {
                                                    "description": "Specifies the name of the database engine.",
                                                    "type": "string"
                                                },
                                                "EngineVersion": {
                                                    "description": "Provides the version of the database engine for this DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "KmsKeyId": {
                                                    "description": "If <code>StorageEncrypted</code> is <code>true</code>, the AWS KMS key identifier for the encrypted DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "MasterUsername": {
                                                    "description": "Provides the master user name for the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "PercentProgress": {
                                                    "description": "Specifies the percentage of the estimated data that has been transferred.",
                                                    "type": "integer"
                                                },
                                                "Port": {
                                                    "description": "Specifies the port that the DB cluster was listening on at the time of the snapshot.",
                                                    "type": "integer"
                                                },
                                                "SnapshotCreateTime": {
                                                    "description": "Provides the time when the snapshot was taken, in UTC.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SnapshotType": {
                                                    "description": "Provides the type of the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "SourceDBClusterSnapshotArn": {
                                                    "description": "If the DB cluster snapshot was copied from a source DB cluster snapshot, the ARN for the source DB cluster snapshot; otherwise, a null value.",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "Specifies the status of this DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "StorageEncrypted": {
                                                    "description": "Specifies whether the DB cluster snapshot is encrypted.",
                                                    "type": "boolean"
                                                },
                                                "VpcId": {
                                                    "description": "Provides the virtual private cloud (VPC) ID that is associated with the DB cluster snapshot.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DBClusterSnapshotAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DBClusterSnapshotNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidDBClusterStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidDBClusterSnapshotStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "SnapshotQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "KMSKeyNotAccessibleFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input to <a>CopyDBClusterSnapshot</a>.",
                                "properties": {
                                    "CopyTags": {
                                        "description": "Set to <code>true</code> to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise <code>false</code>. The default is <code>false</code>.",
                                        "type": "boolean"
                                    },
                                    "KmsKeyId": {
                                        "description": "<p>The AWS KMS key ID for an encrypted DB cluster snapshot. The AWS KMS key ID is the Amazon Resource Name (ARN), AWS KMS key identifier, or the AWS KMS key alias for the AWS KMS encryption key. </p> <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new AWS KMS encryption key. If you don't specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same AWS KMS key as the source DB cluster snapshot. </p> <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted DB cluster snapshot to another AWS Region, set <code>KmsKeyId</code> to the AWS KMS key ID that you want to use to encrypt the copy of the DB cluster snapshot in the destination Region. AWS KMS encryption keys are specific to the AWS Region that they are created in, and you can't use encryption keys from one Region in another Region.</p> <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>",
                                        "type": "string"
                                    },
                                    "PreSignedUrl": {
                                        "description": "<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source DB cluster snapshot to copy. You must use the <code>PreSignedUrl</code> parameter when copying an encrypted DB cluster snapshot from another AWS Region.</p> <p>The presigned URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The presigned URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the presigned URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:my-cluster-snapshot-20161115</code>.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "SourceDBClusterSnapshotIdentifier": {
                                        "description": "<p>The identifier of the DB cluster snapshot to copy. This parameter is not case sensitive.</p> <p>You can't copy an encrypted, shared DB cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the \"available\" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid DB cluster snapshot ARN.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "The tags to be assigned to the DB cluster snapshot.",
                                        "items": {
                                            "description": "Metadata assigned to an Amazon DocumentDB resource consisting of a key-value pair.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The required name of the tag. The string value can be from 1 to 128 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "TargetDBClusterSnapshotIdentifier": {
                                        "description": "<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SourceDBClusterSnapshotIdentifier",
                                    "TargetDBClusterSnapshotIdentifier"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateDBCluster": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new Amazon DocumentDB DB cluster.",
                "operationId": "CreateDBCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DBCluster": {
                                            "description": "Detailed information about a DB cluster. ",
                                            "properties": {
                                                "AssociatedRoles": {
                                                    "description": "Provides a list of the AWS Identity and Access Management (IAM) roles that are associated with the DB cluster. IAM roles that are associated with a DB cluster grant permission for the DB cluster to access other AWS services on your behalf.",
                                                    "items": {
                                                        "description": "Describes an AWS Identity and Access Management (IAM) role that is associated with a DB cluster.",
                                                        "properties": {
                                                            "RoleArn": {
                                                                "description": "The Amazon Resource Name (ARN) of the IAM role that is associated with the DB cluster.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "<p>Describes the state of association between the IAM role and the DB cluster. The <code>Status</code> property returns one of the following values:</p> <ul> <li> <p> <code>ACTIVE</code> - The IAM role ARN is associated with the DB cluster and can be used to access other AWS services on your behalf.</p> </li> <li> <p> <code>PENDING</code> - The IAM role ARN is being associated with the DB cluster.</p> </li> <li> <p> <code>INVALID</code> - The IAM role ARN is associated with the DB cluster, but the DB cluster cannot assume the IAM role to access other AWS services on your behalf.</p> </li> </ul>",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "AvailabilityZones": {
                                                    "description": "Provides the list of Amazon EC2 Availability Zones that instances in the DB cluster can be created in.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "BackupRetentionPeriod": {
                                                    "description": "Specifies the number of days for which automatic DB snapshots are retained.",
                                                    "type": "integer"
                                                },
                                                "ClusterCreateTime": {
                                                    "description": "Specifies the time when the DB cluster was created, in Universal Coordinated Time (UTC).",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "DBClusterArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the DB cluster.",
                                                    "type": "string"
                                                },
                                                "DBClusterIdentifier": {
                                                    "description": "Contains a user-supplied DB cluster identifier. This identifier is the unique key that identifies a DB cluster.",
                                                    "type": "string"
                                                },
                                                "DBClusterMembers": {
                                                    "description": "Provides the list of instances that make up the DB cluster.",
                                                    "items": {
                                                        "description": "Contains information about an instance that is part of a DB cluster.",
                                                        "properties": {
                                                            "DBClusterParameterGroupStatus": {
                                                                "description": "Specifies the status of the DB cluster parameter group for this member of the DB cluster.",
                                                                "type": "string"
                                                            },
                                                            "DBInstanceIdentifier": {
                                                                "description": "Specifies the instance identifier for this member of the DB cluster.",
                                                                "type": "string"
                                                            },
                                                            "IsClusterWriter": {
                                                                "description": "A value that is <code>true</code> if the cluster member is the primary instance for the DB cluster and <code>false</code> otherwise.",
                                                                "type": "boolean"
                                                            },
                                                            "PromotionTier": {
                                                                "description": "A value that specifies the order in which an Amazon DocumentDB replica is promoted to the primary instance after a failure of the existing primary instance. ",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "DBClusterParameterGroup": {
                                                    "description": "Specifies the name of the DB cluster parameter group for the DB cluster.",
                                                    "type": "string"
                                                },
                                                "DBSubnetGroup": {
                                                    "description": "Specifies information on the subnet group that is associated with the DB cluster, including the name, description, and subnets in the subnet group.",
                                                    "type": "string"
                                                },
                                                "DbClusterResourceId": {
                                                    "description": "The AWS Region-unique, immutable identifier for the DB cluster. This identifier is found in AWS CloudTrail log entries whenever the AWS KMS key for the DB cluster is accessed.",
                                                    "type": "string"
                                                },
                                                "EarliestRestorableTime": {
                                                    "description": "The earliest time to which a database can be restored with point-in-time restore.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "EnabledCloudwatchLogsExports": {
                                                    "description": "A list of log types that this DB cluster is configured to export to Amazon CloudWatch Logs.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "Endpoint": {
                                                    "description": "Specifies the connection endpoint for the primary instance of the DB cluster.",
                                                    "type": "string"
                                                },
                                                "Engine": {
                                                    "description": "Provides the name of the database engine to be used for this DB cluster.",
                                                    "type": "string"
                                                },
                                                "EngineVersion": {
                                                    "description": "Indicates the database engine version.",
                                                    "type": "string"
                                                },
                                                "HostedZoneId": {
                                                    "description": "Specifies the ID that Amazon Route 53 assigns when you create a hosted zone.",
                                                    "type": "string"
                                                },
                                                "KmsKeyId": {
                                                    "description": "If <code>StorageEncrypted</code> is <code>true</code>, the AWS KMS key identifier for the encrypted DB cluster.",
                                                    "type": "string"
                                                },
                                                "LatestRestorableTime": {
                                                    "description": "Specifies the latest time to which a database can be restored with point-in-time restore.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "MasterUsername": {
                                                    "description": "Contains the master user name for the DB cluster.",
                                                    "type": "string"
                                                },
                                                "MultiAZ": {
                                                    "description": "Specifies whether the DB cluster has instances in multiple Availability Zones.",
                                                    "type": "boolean"
                                                },
                                                "PercentProgress": {
                                                    "description": "Specifies the progress of the operation as a percentage.",
                                                    "type": "string"
                                                },
                                                "Port": {
                                                    "description": "Specifies the port that the database engine is listening on.",
                                                    "type": "integer"
                                                },
                                                "PreferredBackupWindow": {
                                                    "description": "Specifies the daily time range during which automated backups are created if automated backups are enabled, as determined by the <code>BackupRetentionPeriod</code>. ",
                                                    "type": "string"
                                                },
                                                "PreferredMaintenanceWindow": {
                                                    "description": "Specifies the weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).",
                                                    "type": "string"
                                                },
                                                "ReaderEndpoint": {
                                                    "description": "<p>The reader endpoint for the DB cluster. The reader endpoint for a DB cluster load balances connections across the Amazon DocumentDB replicas that are available in a DB cluster. As clients request new connections to the reader endpoint, Amazon DocumentDB distributes the connection requests among the Amazon DocumentDB replicas in the DB cluster. This functionality can help balance your read workload across multiple Amazon DocumentDB replicas in your DB cluster. </p> <p>If a failover occurs, and the Amazon DocumentDB replica that you are connected to is promoted to be the primary instance, your connection is dropped. To continue sending your read workload to other Amazon DocumentDB replicas in the cluster, you can then reconnect to the reader endpoint.</p>",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "Specifies the current state of this DB cluster.",
                                                    "type": "string"
                                                },
                                                "StorageEncrypted": {
                                                    "description": "Specifies whether the DB cluster is encrypted.",
                                                    "type": "boolean"
                                                },
                                                "VpcSecurityGroups": {
                                                    "description": "Provides a list of virtual private cloud (VPC) security groups that the DB cluster belongs to.",
                                                    "items": {
                                                        "description": "Used as a response element for queries on virtual private cloud (VPC) security group membership.",
                                                        "properties": {
                                                            "Status": {
                                                                "description": "The status of the VPC security group.",
                                                                "type": "string"
                                                            },
                                                            "VpcSecurityGroupId": {
                                                                "description": "The name of the VPC security group.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DBClusterAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InsufficientStorageClusterCapacityFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "DBClusterQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "StorageQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "DBSubnetGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidVPCNetworkStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InvalidDBClusterStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "InvalidDBSubnetGroupStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "InvalidSubnet",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "InvalidDBInstanceStateFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "DBClusterParameterGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "491": {
                        "description": "KMSKeyNotAccessibleFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "492": {
                        "description": "DBClusterNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "493": {
                        "description": "DBInstanceNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "494": {
                        "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input to <a>CreateDBCluster</a>.",
                                "properties": {
                                    "AvailabilityZones": {
                                        "description": "A list of Amazon EC2 Availability Zones that instances in the DB cluster can be created in.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "BackupRetentionPeriod": {
                                        "description": "<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35.</p> </li> </ul>",
                                        "type": "integer"
                                    },
                                    "DBClusterIdentifier": {
                                        "description": "<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>",
                                        "type": "string"
                                    },
                                    "DBClusterParameterGroupName": {
                                        "description": " The name of the DB cluster parameter group to associate with this DB cluster.",
                                        "type": "string"
                                    },
                                    "DBSubnetGroupName": {
                                        "description": "<p>A DB subnet group to associate with this DB cluster.</p> <p>Constraints: Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>",
                                        "type": "string"
                                    },
                                    "EnableCloudwatchLogsExports": {
                                        "description": "A list of log types that need to be enabled for exporting to Amazon CloudWatch Logs.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "Engine": {
                                        "description": "<p>The name of the database engine to be used for this DB cluster.</p> <p>Valid values: <code>docdb</code> </p>",
                                        "type": "string"
                                    },
                                    "EngineVersion": {
                                        "description": "The version number of the database engine to use.",
                                        "type": "string"
                                    },
                                    "KmsKeyId": {
                                        "description": "<p>The AWS KMS key identifier for an encrypted DB cluster.</p> <p>The AWS KMS key identifier is the Amazon Resource Name (ARN) for the AWS KMS encryption key. If you are creating a DB cluster using the same AWS account that owns the AWS KMS encryption key that is used to encrypt the new DB cluster, you can use the AWS KMS key alias instead of the ARN for the AWS KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon DocumentDB uses the encryption key that is used to encrypt the source. Otherwise, Amazon DocumentDB uses your default encryption key. </p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is <code>true</code> and <code>ReplicationSourceIdentifier</code> is not specified, Amazon DocumentDB uses your default encryption key.</p> </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p> <p>If you create a replica of an encrypted DB cluster in another AWS Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This key is used to encrypt the replica in that AWS Region.</p>",
                                        "type": "string"
                                    },
                                    "MasterUserPassword": {
                                        "description": "<p>The password for the master database user. This password can contain any printable ASCII character except \"/\", \"\"\", or \"@\".</p> <p>Constraints: Must contain from 8 to 41 characters.</p>",
                                        "type": "string"
                                    },
                                    "MasterUsername": {
                                        "description": "<p>The name of the master user for the DB cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 16 letters or numbers.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "Port": {
                                        "description": "The port number on which the instances in the DB cluster accept connections.",
                                        "type": "integer"
                                    },
                                    "PreferredBackupWindow": {
                                        "description": "<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter. </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region. </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "PreferredMaintenanceWindow": {
                                        "description": "<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week.</p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>",
                                        "type": "string"
                                    },
                                    "StorageEncrypted": {
                                        "description": "Specifies whether the DB cluster is encrypted.",
                                        "type": "boolean"
                                    },
                                    "Tags": {
                                        "description": "The tags to be assigned to the DB cluster.",
                                        "items": {
                                            "description": "Metadata assigned to an Amazon DocumentDB resource consisting of a key-value pair.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The required name of the tag. The string value can be from 1 to 128 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "VpcSecurityGroupIds": {
                                        "description": "A list of EC2 VPC security groups to associate with this DB cluster.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "DBClusterIdentifier",
                                    "Engine"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateDBClusterParameterGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new DB cluster parameter group.</p> <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB cluster.</p> <p>A DB cluster parameter group is initially created with the default parameters for the database engine used by instances in the DB cluster. To provide custom values for any of the parameters, you must modify the group after you create it. After you create a DB cluster parameter group, you must associate it with your DB cluster. For the new DB cluster parameter group and associated settings to take effect, you must then reboot the DB instances in the DB cluster without failover.</p> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon DocumentDB to fully complete the create action before the DB cluster parameter group is used as the default for a new DB cluster. This step is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter.</p> </important>",
                "operationId": "CreateDBClusterParameterGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DBClusterParameterGroup": {
                                            "description": "Detailed information about a DB cluster parameter group. ",
                                            "properties": {
                                                "DBClusterParameterGroupArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the DB cluster parameter group.",
                                                    "type": "string"
                                                },
                                                "DBClusterParameterGroupName": {
                                                    "description": "Provides the name of the DB cluster parameter group.",
                                                    "type": "string"
                                                },
                                                "DBParameterGroupFamily": {
                                                    "description": "Provides the name of the DB parameter group family that this DB cluster parameter group is compatible with.",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "Provides the customer-specified description for this DB cluster parameter group.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DBParameterGroupQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DBParameterGroupAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of <a>CreateDBClusterParameterGroup</a>.",
                                "properties": {
                                    "DBClusterParameterGroupName": {
                                        "description": "<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing <code>DBClusterParameterGroup</code>.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>",
                                        "type": "string"
                                    },
                                    "DBParameterGroupFamily": {
                                        "description": "The DB cluster parameter group family name.",
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "The description for the DB cluster parameter group.",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "The tags to be assigned to the DB cluster parameter group.",
                                        "items": {
                                            "description": "Metadata assigned to an Amazon DocumentDB resource consisting of a key-value pair.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The required name of the tag. The string value can be from 1 to 128 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can contain only the set of Unicode letters, digits, white space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "DBClusterParameterGroupName",
                                    "DBParameterGroupFamily",
                                    "Description"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateDBClusterSnapshot": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a snapshot of a DB cluster. ",
                "operationId": "CreateDBClusterSnapshot",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DBClusterSnapshot": {
                                            "description": "Detailed information about a DB cluster snapshot. ",
                                            "properties": {
                                                "AvailabilityZones": {
                                                    "description": "Provides the list of Amazon EC2 Availability Zones that instances in the DB cluster snapshot can be restored in.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ClusterCreateTime": {
                                                    "description": "Specifies the time when the DB cluster was created, in Universal Coordinated Time (UTC).",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "DBClusterIdentifier": {
                                                    "description": "Specifies the DB cluster identifier of the DB cluster that this DB cluster snapshot was created from.",
                                                    "type": "string"
                                                },
                                                "DBClusterSnapshotArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "DBClusterSnapshotIdentifier": {
                                                    "description": "Specifies the identifier for the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "Engine": {
                                                    "description": "Specifies the name of the database engine.",
                                                    "type": "string"
                                                },
                                                "EngineVersion": {
                                                    "description": "Provides the version of the database engine for this DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "KmsKeyId": {
                                                    "description": "If <code>StorageEncrypted</code> is <code>true</code>, the AWS KMS key identifier for the encrypted DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "MasterUsername": {
                                                    "description": "Provides the master user name for the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "PercentProgress": {
                                                    "description": "Specifies the percentage of the estimated data that has been transferred.",
                                                    "type": "integer"
                                                },
                                                "Port": {
                                                    "description": "Specifies the port that the DB cluster was listening on at the time of the snapshot.",
                                                    "type": "integer"
                                                },
                                                "SnapshotCreateTime": {
[...]
